
a:hover {
    color: red;
}


a:active {
    color: green;
}


a:visited {
    color: purple;
}

input:focus {
    background-color: lightblue;
}
/* btn  */
button:hover {
    background-color: black;
    color: white;
}
h1::before {
    content: "🔥 ";
}

h1::after {
    content: " ❤️";
}